.onpage-message {
  height: 200px;
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: #777;
  letter-spacing: 1.2px;
}

.onpage-message img {
  width: 80px;
  margin-bottom: 6px;
}
