.pagination-container {
  margin: 15px auto;
  width: 85%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiPaginationItem-root {
  color: #fff !important;
}

.MuiPaginationItem-outlinedSecondary,
.MuiPaginationItem-outlinedSecondary.Mui-selected {
  box-shadow: 1px 1px 3px black;
  margin: 0 5px !important;
  border-radius: 10px !important;
  font-size: 15px !important;
}

.MuiPaginationItem-outlinedSecondary.Mui-selected {
  background-color: yellowgreen !important;
  border: 1px solid yellowgreen !important;
}

@media (max-width: 650px) {
  .pagination-container {
    width: 100%;
  }

  .MuiPaginationItem-sizeLarge {
    height: 35px !important;
    width: 35px !important;
    margin: 5px !important;
  }
}
