/* @import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@1&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scrollbar-width: 3px;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'chau-philomene';
  src: url('./fonts/ChauPhilomeneOne-Regular.ttf');
}

@font-face {
  font-family: 'chau-philomene-italic';
  src: url('./fonts/ChauPhilomeneOne-Italic.ttf');
}

:root {
  --siteBackground: #2c323d;
  --headerBackground: #2e3542;
  --logoYellow: rgb(253, 253, 61);
  --logoRed: rgb(255, 42, 42);
  --logoFont: 'chau-philomene-italic', sans-serif;
  --logoFontReg: 'chau-philomene', sans-serif;
  --siteBlue: #3f51b5;
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
  --lighting: rgb(0, 255, 255);
}
.page-title-area {
  display: flex;
  width: 94%;
  height: 300px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: rgba(3, 82, 167, 0.8);
  background-blend-mode: multiply;
  align-items: flex-end;
  justify-content: left;

  color: var(--logoRed);
  font-size: 75px;
  opacity: 0.95;
  box-shadow: 1px 1px 5px black;
  border-bottom: 3px solid var(--logoYellow);
  position: relative;
  margin-bottom: 20px;
}

.page-title {
  margin-left: 0;
  margin-bottom: 10px;
  letter-spacing: 3px;
  text-shadow: 3px 3px 2px black;
  opacity: 0.75;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 3px 15px 3px 20px;
  border: 1px solid black;
  box-shadow: 1px 1px 3px black;
  color: var(--logoYellow);
  font-family: var(--logoFont);
}

.page-cards-section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 3px;
}
